<div class="row-fluid">
	<h2 class="centered">
      Advantages of Seamless Pole
    </h2>
</div>

<div class="row-fluid">
  <div class="well well-small justified">
    <ul>
      <li>Made from ductile iron, a common and proven material used in the utility industry (brackets, guy attachments, and insulator bases).</li>
      <li>Poles are normally shipped assembled, but can be shipped in modular sections and assembled at the pole hole. This reduces installation cost and saves time because the 2 modular sections are short, light-weight, and can be moved into place by 4 linemen. This works great in rough terrain and highly landscaped backyard locations where damage to homeowner landscaping can be costly.</li>
      <li>Ductile Iron has over 50 years of proven service in the utility industry in above and below ground installations. There is no significant corrosion of ductile iron resulting from exposure to the atmosphere except by sea water.</li>
      <li>Below ground corrosion is complex. Seamless pole uses a special coating developed for ductile iron. It has performed failure free for 40 years in very corrosive environments and is still going strong.</li>
      <li>Seamless Poles service life is expected to be over 80 years.</li>
      <li>Seamless Poles flex under load and bend on impact.</li>
      <li>Seamless Poles are supplied pre-drilled or can be easily drilled in the field.</li>
      <li>Seamless Poles require no pesticides, are fire and woodpecker proof.</li>
    </ul>
  </div>
</div>

<div class="row-fluid">
	<h2 class="centered">
		Centrifugally Cast Poles
	</h2>
</div>

<div class="row-fluid">
  <div class="well well-small justified">
    <ul>
      <li>Seamless Poles are made of molten metal, cast under 100 G's (100xGravity) of centrifulgal force which serves to purify and improve grain structure of the metal.</li>
      <li>The highly automated process is fast and efficient with molten iron forming a pole section in less than 60 seconds.</li>
      <li>Producing Seamless Poles directly from melted recycled scrap metal eliminates the costs associated with the rolling of steel plate to proper thickness, cutting of the plate, pole fabrication, and many feet of welding.</li>
      <li>Seamless Poles are cast from identical molds. There is no variation in exterior dimensions. Interior surfaces are mated for a perfect fit.</li>
      <li>Environmentally responsible choice, sends a message of corporate values and environmental resposibility.</li>
      <li>Seamless Poles are strong and lighter than wood and concrete and can be handled with standard capacity bucket trucks.</li>
      <li>The high strength to weight ratio resists storm damage better.</li>
      <li>The round uniformly tapered shape is aesthetically pleasing.</li>
      <li>Uses standard pole line hardware.</li>
      <li>Seamless Pole's dimpled surfaces reduce wind resistance and are corrosion resistant with an estimated 80+ years of service.</li>
      <li>Available in 35-60 feet, Class H1, 1, 2, 3 strengths.</li>
    </ul>
  </div>
</div>
