<div class="row-fluid">
	<h2 class="centered">
      The Process of Climbing a Seamless Pole
    </h2>
</div>

<div class="row-fluid">
  <div class="span7">
  	The Process of climbing a Seamless Pole is easy. We offer a 3/4" rivet nut called a "Quicknut". The Quicknut works with 3/4" hot dip galvanized standard step bolts. We can supply integrated safety clips and step bolts with any order. Step layout is usually 18" apart, but can be customized. Quicknuts are strong and can be used for attachment of communication hardware, lighting, banners, equipment boxes, phone, video, control boxes, brackets, and other attachments. They reduce attachment cost and on truck fastener inventory of multi-length fasteners. Also, they have a pullout strength of over 20,000 lbs and have a ZiNi alloy coating with excellent corrosion protection far superior to hot dip galvanizing. 
  </div>
</div>

<div class="row-fluid">
	<ul class="centered">
		<li>A clean design that protects the threads inside the pole.</li>
		<li>Low profile eliminates damage from material handling.</li>
		<li>WE use large standard economical HDG 3/4" steps bolts that are very economical.</li>
		<li>Compatible HDG safety clip available.</li>
		<li>Steps are removable and designed to be used with HDG fasteners.</li>
	</ul>
</div>  

<div class="row-fluid">
  <div class="span7">
  	If your installation is where it has to be climbed, make it easy and safe with SPI climbing steps.
  	</div>
</div>
  	
<div class="row-fluid">
	<ul class="centered">
		<li>The Quicknut has a receiving cup for one hand installation.</li>
		<li>Our simple design and quick installation makes climbing east and safe for linemen.</li>
		<li>Our step system mounts flush to the pole allowing for easy attachment of auxiliary equipment such as: lighting, communication equipment, phone, cable accessories, etc.</li>
	</ul>
</div>