<div class="row-fluid">

    <h2 class="centered">
      Seamless Pole <small>Inc.</small>
    </h2>

</div>

<div class="row-fluid">

    <div id="carousel-example-generic" class="carousel slide" data-ride="carousel">
  <!-- Indicators -->
  <ol class="carousel-indicators">
    <% pole_images.count.times do |time| %>
      <li data-target="#carousel-example-generic" data-slide-to=<%=time.to_s %> class=<%= time == 0 ? "active" : ""%>></li>
    <% end %>
  </ol>

  <!-- Wrapper for slides -->
  <div class="carousel-inner">
    <% pole_images.each_with_index do |img,i| %>
      <div class=<%=i == 0 ? "item active" : "item"%>>
        <%= image_tag(img, class: "big_ass_image")%>
      </div>
    <% end %>
  </div>

  <!-- Controls -->
  <a class="left carousel-control" href="#carousel-example-generic" data-slide="prev">
    &lsaquo;
  </a>
  <a class="right carousel-control" href="#carousel-example-generic" data-slide="next">
    &rsaquo;
  </a>
</div>

</div>

<div class="row-fluid justified">
  Our roots are in the pole line hardware business in Birmingham, AL.  Years ago we had a vision of casting a tapered utility pole in 60 seconds. We found the near perfect material in ductile iron: light weight, strong, corrosion resistant and economical. We believed a low cost engineered pole would revolutionize the distribution pole market, but we were told it could not be done by every centrifugal caster in the United States. After years of struggle and dead ends our research and development paid off, for on Jan 2, 2006 with newly developed tools, equipment and process controls, we made the world’s first centrifugally cast ductile iron pole. Today, we can’t imagine a more efficient way to make an engineered strength pole than our patented process. SPI has continued with improvements and has additional patents pending.
</div>
