<div class="row-fluid">
	<h2 class="centered">
      Lighting
    </h2>
</div>

<div class="row-fluid">
  <div class="well well-small justified">
    <ul>
      <li>Commercial, industrial, and retail customers need more attractive Lighting Poles.</li>
      <li>Traditional wooden pole lighting used in the past was functional, quick, and readily available, but can have a unsightly appearance.</li>
      <li>Wooden poles can warp, be crooked, rough, splinter, and have unmatched colors, not cooperating with the facility aesthetically.</li>
      <li>Customers that take pride in the appearance and landscaping of their facility need a pole that will present a more pleasing appearance.</li>
      <li>Seamless Lighting Poles are uniformly tapered and always straight. They present a clean, modern appearance with a unique non-glare textured surface that softens their appearance.</li>
      <li>Seamless Lighting Poles install as easily as wooden utility poles. They are more storm resistant and have an 80 year life. They have a durable finish applied over a zinc coating and can be re-used and recycled. They are available in different colors and can in different lengths: 20 ft, 35 ft, and 60 ft.</li>
    </ul>
  </div>
</div>
