<div class="row-fluid">
	<h2 class="centered">
      Engineering
    </h2>
</div>

<div class="row-fluid">
  <div class="well-small well">
	<ul>
		<li>Ductile Iron does not corrode significantly above ground, below ground corrosion is complex. Complicated by pH, moisture content, and salts amongst other things. Seamless Poles use a special ceramic epoxy composite coating for below ground protection with a 40+ year track record of no failure. This coating has excellent impact resistance and has self healing peoperties that have earned its premier reputation.</li>
		<li>Made from ductile iron, a common and proven material used in the utility industry (brackets, guy attachments, and insulator bases).</li>
		<li>The highly automated process is fast and efficient with molten iron forming a pole section in less than 60 seconds.</li>
		<li>Producing Seamless Poles directly from melted recycled metal eliminates the costs associated with rolling of steel plate to proper thickness, cutting of plate, pole fabrication and many feet of welding. Plus it incorporates anenvironmentally responsible approach via recycling old cars, appliances, etc. and demonstrates good corporate citizenship.</li>
		<li>A 40 ft pole's two sections weigh about 470 and 380 lbs. and can easily be carried by 4 linemen. The precision tapered joint makes assembly simple in the field. Modular installation saves damage to customer's expensive landscaping and greatly reduces transport and installation time.</li>		
	</ul></div>
</div>