<div class="row-fluid">
	<h2 class="centered">
      Production Process
    </h2>
</div>

//video goes here

<div class="row-fluid">
	<ul>
		<li>Seamless Poles use recycled scrap metal as a raw material, not finished steel plates, consequently acquiring immunity to issues of availability of steel plate. The scrap metal is melted and the chemistry adjusted to exact specifications. The adjusted molten metal is transformed directly into a Seamless Pole!</li>
		<li>By making Seamless Poles directly from melted recycled metal, huge costs are eliminated : costs associated with rolling of steel plate to proper thickness, cutting of plate, pole fabrication and many feet of welding are eliminated.</li>
		<li>Seamless Poles use a highly automated manufacturing process which produces an engineered product with a certified minimum yield strength.</li>
		<li>Seamless Poles are cast from identical molds: there is no variation in exterior dimensions and interior lap joint surfaces are precise for a perfect fit.</li>
		<li>Seamless Pole's triple barrier corrosion system can withstand even the toughest environments for decades of maintenance free service.</li>
		<li>At the end of use, Seamless Poles have residual value, not landfill liability.</li>		
	</ul>