<div class="row-fluid">
	<h2 class="centered">
      Creation Process
    </h2>
</div>

//video goes here

<div class="row-fluid">
  <div class="well well-small justified">
    <ul>
      <li>Seamless Pole castings are always exactly the same and each pole is dimensionally perfect. Standard pole-line hardware fits our distribution pole's 6" top diameter which eliminates crowded transformer installations.</li>
      <li>Seamless Poles use a highly automated proven manufacturing process. Centrifugal casting is the most efficient process for manufacturing tapered poles. Our speed of production is over 10 times faster than other pole production methods.</li>
    </ul>
  </div>
</div>
